<footer class="footer is-hidden-print is-primary">
        <div class="columns content is-small has-text-centered footer-logos">
            <div class="column has-text-right"><div class="page-owner">
                <p class="title" class="has-text-left">Eine Seite von</p>
                <img src="{{ site.baseurl }}/assets/img/logos/INTIA_Plattform_Logos_TH_weiss.png">
                <img src="{{ site.baseurl }}/assets/img/logos/INTIA_Plattform_Logos_Dites_weiss.png">
                <div>
                    <div class="title">www.intia.de</div>
                        TH-Köln | DITES<br>
                        Campus Südstadt<br>
                        Ubierring 48<br>
                        50678 Köln
        
                </div>
            </div></div>
            <div class="column has-text-left"><div class="page-sponsor">                
                <img class="footer-logo-2" src="{{ site.baseurl }}/assets/img/logos/BMBF_logo.jpg">
            </div></div>

        </div>

        <div class="content is-small has-text-centered">
            <p class="">INTIA, 2021</p>
        </div>
    
</footer>
