<nav class="navbar is-hidden-print is-primary" x-data="{ openNav: false }">
    <div class="container logo-container">
        <a class="logo" href="https://intia.de">
        <img src="{{ site.baseurl }}/assets/img/INTIAlogo_farbig_horizontal.png">
        </a>
        <!--<img src="{{ site.baseurl }}/assets/img/INTIA_Logoleiste_2022.png">--> 
 <!--       <div class="navbar-brand">
            <a href="{{ site.baseurl }}/" class="">
                <img src="{{ site.baseurl }}/assets/img/logo-black.png">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu"
                :class="{ 'is-active': openNav }" x-on:click="openNav = !openNav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
            <div class="navbar-end buttons">           
                Abschschlusstagung
            </div>
        </div>
    -->
    </div>
</nav>

    <script>
    // this page is a demo that is not built, so fudge the module.exports support
    // define a global `module` so that the actual source file can use it
    window.module = {};
  </script>
  <script src="/assets/js/confetti.js"></script>
  <script>
    // define the `module.exports` as the `confetti` global, the way that the
    // cdn distributed file would
    window.confetti = module.exports;
  </script>

<script>
    window.addEventListener('load', (event) => {
        loadConfetti()
        setHref()
    });
    function loadConfetti() {
        confetti({ particleCount: 200,
        spread: 90,
        origin: { y: 0.6 }
        });
    }  
    function setHref() {
        var elements = document.getElementsByClassName('node-red-hyperlink')
        Array.from(elements).forEach(element => {
            element.href = window.location.protocol + "//" + window.location.hostname + ":1880"+ element.getAttribute('href');
        });
    }
</script>